.list-view {
    -fx-background-color: grey;
}

.list-view .list-cell:even {
    -fx-background-color: grey;
}

.list-view .list-cell:odd {
    -fx-background-color: grey;
}

.list-view .list-cell:selected {
    -fx-background-color: green;

}